/elsarticle-template-num.aux
/elsarticle-template-num.bbl
/elsarticle-template-num.blg
/elsarticle-template-num.log
/elsarticle-template-num.pdf
/elsarticle-template-num.spl
/elsarticle-template-num.synctex.gz
/mybibfile.bib.bak
